.Header-container {
    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2185e9+0,d627f1+43,211bd7+100 *!*/
    /*background: #2185e9; !* Old browsers *!*/
    /*background: -moz-linear-gradient(left, #2185e9 0%, #d627f1 43%, #211bd7 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, #2185e9 0%, #d627f1 43%, #211bd7 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, #2185e9 0%, #d627f1 43%, #211bd7 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2185e9', endColorstr='#211bd7', GradientType=1); !* IE6-9 *!*/
    background: #1e1d22;
}
