.App {
    min-height: 105vh;
    /*overflow-y: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
    font-family: Roboto, SansSerif;
    background: #1e1d22; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e1d22 0%, #28272d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e1d22 0%, #28272d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e1d22 0%, #28272d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
