.App {
    height: 100vh;
    background-size: cover;
    background: linear-gradient(135deg, #81c, #18c) fixed;
    overflow: scroll;
}

.SongList {
    max-width: 500px;
    margin: 0 auto !important;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.Song {
    width: 90%;
    color: white;
    border: 2px solid white;
    background: #0000005e;
    margin: 2% 20%;
    border-radius: 5px;
    padding: 0 3%;
}

.Song_columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Song_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-up, .arrow-down {
    width: 50px;
}

.arrow-down {
    transform: rotate(180deg);
}

.new-song-form input {
    font-size: 1.2em;
    text-align: center;
}
